video, #video, .video-js, .vjs-default-skin {
	position:	fixed; 
	right:		0;
	bottom:		0;
	min-width:	100%; 
	min-height:	100%;
	width:		auto;
	height:		auto;
	z-index:	-100;
}

.vjs-control-bar {
	-moz-animation-name:				fadeIn;
	-webkit-animation-name:				fadeIn;
	-ms-animation-name:					fadeIn;
	animation-name:						fadeIn;
	
	-moz-animation-duration:			0.3s;
	-webkit-animation-duration:			0.3s;
	-ms-animation-duration:				0.3s;
	animation-duration:					0.3s;
	
	-moz-animation-timing-function:		ease-in-out;
	-webkit-animation-timing-function:	ease-in-out;
	-ms-animation-timing-function:		ease-in-out;
	animation-timing-function:			ease-in-out;
	
	-moz-animation-fill-mode:			forwards;
	-webkit-animation-fill-mode:		forwards;
	-ms-animation-fill-mode:			forwards;
	animation-fill-mode:				forwards;
}

.vjs-control-bar.fadeOut {
	-moz-animation-name: 				fadeOut;
	-webkit-animation-name: 			fadeOut;
	-ms-animation-name: 				fadeOut;
	animation-name: 					fadeOut;
}

@-moz-keyframes		fadeIn { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}
@-webkit-keyframes	fadeIn { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}
@-ms-keyframes		fadeIn { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}
@-keyframes			fadeIn { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}

@-moz-keyframes		fadeOut { 0% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden; }} 
@-webkit-keyframes	fadeOut { 0% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden; }} 
@-ms-keyframes		fadeOut { 0% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden; }} 
@-keyframes			fadeOut { 0% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden; }} 